.features-container {
  height: 100vh;
  background: radial-gradient(circle at 100% 100%, rgba(85, 2, 113, 1) 0%, rgba(15, 4, 28, 1) 35%);
  display: flex;
  padding: 0 9vw;
  
} 

.features-left-container{
  flex: 1;
  position: relative;
}

.features-shadow {
  position: absolute;
  height: 47vw;
}

.features-ellipse {
  position: absolute;
  height: 21vw;
  top: 14vw;
  left: -2vw;
}

.features-image {
  height: 26vw;
  position: absolute;
  top: 10vw;
  left: 4vw;
}


.features-right-container {
  flex: 1;
  padding-top: 10vw;
  padding-left: 3vw;
}

.features-title {
  color: white;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 3vw;
  margin-bottom: 2.5vw;
}

.features-description-container {
  display: flex;
}

.features-description-function-container {
  display: flex;
  margin-bottom: 1.5vw;
}

.features-description-text {
  color: white;
  font-family: var(--font-family);
  font-weight: 30;
  font-size: 1vw;

}

.features-description-image {
  height: 1.2vw;
  margin-right: 0.5vw;
}

.features-right-container-middle {
  width: 5%;
}

@media screen and (max-width: 1024px) {
  .features-container {
    display: flex;
    flex-direction: column-reverse;
    height: 205vw;
  }

  .features-left-container {
    flex: 2;
  }

  .features-title {
    font-size: 9vw;
    margin-bottom: 9vw;
    margin-top: 6vw;
  }

  .features-description-container {
    flex-direction: column;
  }

  .features-description-text {
    font-size: 4vw;
    font-weight: 400;
  }

  .features-description-image{
    height: 4.5vw;
    margin-right: 2vw;
    margin-top: 0.5vw;
  }

  .features-right-container-right {
    display: none;
  }

  .features-description-function-container {
    margin-bottom: 4.5vw;
  }

  .features-image {
    height: 60vw;
    margin-left: 7vw;
  }

  .features-ellipse {
    height: 45vw;
  }

  .features-shadow {
    display: none;
  }
}