/*light blue: #3DDEED*/
/*purple: #BD00FF*/
/*white: #FFFFFF*/
/*dark purple: #20112D*/
/*very dark purple for bg: #11041E*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

body {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

:root {
  --font-family: 'Manrope';
}